* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  height: 100%;
  width: auto;
}

body {
  height: 100%;
  background: url("/assets/background.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.hideContent {
  display: none;
}

.showContent {
  display: block;
}

#ticketForm {
  background-color: #fff;
  border: 0;
  border-radius: 1rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#ticketForm .wrapper {
  display: grid;
  grid-area: "numeTitlu numeTitlu" "nume" "prenume" "numeInput" "prenumeInput";
}
#ticketForm hr {
  border-color: rgba(0, 0, 0, 0.25);
}
#ticketForm #logo {
  height: 10rem;
  margin-bottom: 3rem;
}
#ticketForm h1 {
  padding-bottom: 2rem;
}
#ticketForm input {
  padding: 15px 10px;
  margin-bottom: 1rem;
  width: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  outline: none;
}
#ticketForm input:focus {
  border: 1px solid #0477bf;
}
#ticketForm p {
  margin-bottom: 0.5rem;
  text-align: left;
}
#ticketForm p.fieldTitle {
  font-weight: bold;
}
#ticketForm #existingUser {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.75rem;
}
#ticketForm #existingUser a {
  color: #0477bf;
  font-weight: bold;
  text-decoration: none;
}
#ticketForm button {
  width: 20rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 15px 10px;
  background-color: #0477bf;
  border: 0px;
  border-radius: 0.5rem;
  color: #fff;
}

.tabs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  padding: 30px 20px;
  background-color: #fff;
  border: 0;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.tabs .tab-header {
  min-width: 200px;
  height: 70%;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  padding: 10% 0px;
}
.tabs .tab-header .menuOption {
  height: 5rem;
  line-height: 50px;
  font-size: 16px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}
.tabs .tab-header .menuOption.show {
  color: #f2a341;
}
.tabs .tab-header .menuOption i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.tabs .tab-header .menuOption:hover {
  color: #f2a341;
}
.tabs table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.tabs td,
.tabs th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 5px 2px;
  width: 20%;
}
.tabs .tab-content {
  height: 100%;
  width: 100%;
}
.tabs .tab-content .contentIcon {
  font-size: 50px;
  background-color: #f2a341;
  color: #fff;
  padding: 10px;
  border: 0;
  border-radius: 10rem;
  margin-bottom: 10px;
}
.tabs p {
  color: rgba(0, 0, 0, 0.5);
}
.tabs h2 {
  margin-bottom: 1rem;
  color: #f2a341;
}
.tabs .plecare p {
  color: black;
  padding-bottom: 10px;
  padding-top: 10px;
}
.tabs .plecare input {
  width: 300px;
  height: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
}
.tabs .content {
  text-align: center;
  padding: 40px 10px;
}
.tabs .content.show {
  display: block;
}
.tabs .content button {
  margin-top: 2rem;
  background-color: #f24b26;
  color: #fff;
  padding: 1rem 0.5rem;
  border: 0;
  border-radius: 0.3rem;
}
.tabs .content button:hover {
  background-color: rgb(221, 2, 2);
}
.tabs .content button button {
  width: 8rem;
  cursor: pointer;
}
.tabs .content .contactInfo {
  display: inline-flex;
  padding: 0.2rem 0;
  margin-bottom: 10px;
  gap: 20px;
}
.tabs .content .contactInfo button {
  width: 8rem;
  cursor: pointer;
}
.tabs .content .contactInfo button:hover {
  background-color: rgb(221, 2, 2);
}/*# sourceMappingURL=style.css.map */