<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Title</title>
</head>
<body>
    <div class="tabs">
        <div class="tab-header">
            <div class="active menuOption">
                <i class="fa fa-plus"></i><span>Calatorie Noua</span>
            </div>
            <div class="menuOption">
                <i class="fa fa-history"></i><span>Istoric Calatorii</span>
            </div>
            <div class="menuOption">
                <i class="fa fa-user"></i><span>Contul Meu</span>
            </div>
        </div>
        <div class="tab-content">
            <div class="active">
                <i class="fa fa-plus"></i>
                <h2>Calatorie noua</h2>
                <div class="plecare">
                    <p>Plecare</p>
                    <form action="#" method="post">
                        <select name="plecare">
                            <option value="Dej" id="plecare_oras">Dej</option>
                            <option value="Cluj-Napoca" id="plecare_judet">Cluj-Napoca</option>
                        </select>
                    </form>
                </div>
                <div class="sosire">
                    <p>Sosire</p>
                    <form action="#" method="post">
                        <select name="sosire">
                            <option value="Dej" id="sosire_oras">Dej</option>
                            <option value="Cluj-Napoca" id="sosire_judet">Cluj-Napoca</option>
                        </select>
                    </form>
                </div>
            </div>
            <div>
                <i class="fa fa-history"></i>
                <h2>Istoric Calatorii</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea cupiditate iste similique dolorum autem impedit, praesentium ad quaerat nobis molestias quia aspernatur, ut, libero incidunt culpa provident ipsam ullam dicta rem est molestiae commodi delectus. Porro nulla expedita reprehenderit deserunt minima! Adipisci commodi tempora eaque obcaecati harum sequi libero dolorum.</p>
            </div>
            <div>
                <i class="fa fa-user"></i>
                <h2>Contul meu</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea cupiditate iste similique dolorum autem impedit, praesentium ad quaerat nobis molestias quia aspernatur, ut, libero incidunt culpa provident ipsam ullam dicta rem est molestiae commodi delectus. Porro nulla expedita reprehenderit deserunt minima! Adipisci commodi tempora eaque obcaecati harum sequi libero dolorum.</p>
            </div>
        </div>
    </div>
    <script src="static/js/index.js"></script>
</body>
</html>
