<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Lorem ipsum">
  <link rel="stylesheet" href="/css/style.css">
  <title>To Be Sure</title>
</head>
<body>
    <main id="ticketForm">
        <img src="/assets/logo.png" alt="Trans-Bus Logo" id="logo">
        <form action= "#" method="post">
            <div class="wrapper">
                <p class="fieldTitle numeTitlu">Nume Prenume:</p> 
                <p class="nume">Nume</p>
                <input type="text" name="fullname" id="lastName" placeholder="ex. Popescu" >
                <p class="prenume">Prenume</p>
                <input type="text" name="fullname" placeholder="ex. Ion" >
            </div>
            <hr>
            <br>
            <p class="fieldTitle">Resedinta:</p> 
            <p>Oras</p>
            <input type="text" name="username" placeholder="ex. Cluj-Napoca" >
            <p>Judet</p>
            <input type="text" name="username" placeholder="ex. Cluj" >
            <hr>
            <br>
            <p class="fieldTitle">Email:</p>
            <input type="email" name="email" placeholder="Email:">
            <hr>
            <br>
            <p class="fieldTitle">Parola:</p>
            <input type="password" name="password" placeholder="Set a password">
            <br>
            <button type="submit">Inregistrare</button>
            <p id="existingUser">Ai deja cont? <a href="signIn.html">Autentifica-te</a></p>
        </form>
    </main>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
</body>
</html>
